services:
  api:
    build:
      context: ./
      dockerfile: Dockerfile.dev
    depends_on:
      - postgres
    env_file:
      - .env
    ports:
      - 3000:3000
    volumes:
      - ./src:/app/src
  postgres:
    env_file:
      - .env
    image: postgres:16
    ports:
      - 5432:5432
    volumes:
      - ./postgres:/var/lib/postgresql/data
